* { margin: 0; padding: 0; box-sizing: border-box; }
.username{
  color: limegreen;
  font-weight: bold;
  padding-right: 15px;
}

.myname{
  font-weight: bold;
}

form { background: #eee; padding: 0px; position: fixed; height: 70px; bottom: 0; width: 100%; }
form input { border: 1px solid #888; padding: 10px; height: 60px; font-size: 120%; width: 100%;}
form button { width: 0%; background: rgb(130, 224, 255); font-size: 120%; height: 55px; border: none; padding: 10px; display: none}
#messages, #userlist{ list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; font-size: 120%}
#messages li:nth-child(odd) { background: #eee; }

#userlist li { padding: 5px 10px; font-size: 120%;}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header{
  height: 60px;
  padding-left: 20px; 
  padding-top: 22px;
  background-color:#eee;
  /*background-color: aquamarine;*/
  /*border-bottom: 1.5px solid limegreen;*/
  border-bottom: 1px solid #888;
}
.container{
  height: 100%;
}
.window{
  height: 82%; 
}
.msg-window {
  height: 100%; 
  width: 66%;
  float: left;
  overflow-y: scroll;
  padding-bottom: 115px;
}
.users-window {
  height: 100%; 
  width: 33%;
  float: left;
  overflow-y: scroll;
  padding-bottom: 115px;
  border-left: 1px solid #888;
}

